/* Generelt for alle portfolio-undersider */
/* Denne er kode Desk-top first med mediaqueries for mobilvisning modsat forsiden. Til en anden gang, skal denne selvfølgelig også kodes Mobile First */

html {
    --black: #000000;
    --white: #ffffff;
    --darkblue: #2D2E78;
    --mediumblue: #3456A1;
    --blue: #4874B5;
    --lightblue: #418CC3;
    --lightgreen: #CAE1C7;
    --beige: #F4F5E8;
    --darkred: #D93830;
    --orangered: #E4614F;
    --rose: #EFBDC5;
    --lightpurple: #EDD8E7;
    --lightyellow: #F9F1CF;
}

* {
    box-sizing: border-box;
}

body {
    margin-left: 2rem;
    margin-right: 2rem;
}

 /*fonte*/
 h1 {
    font-family: 'Bungee Inline', cursive;
    font-size: clamp(3rem, 20vw - 4.5rem, 8rem);
}

h2 {
    font-family: 'Bungee', cursive;
    font-size: clamp(2rem, 8vw - 1rem, 4rem);}

h3 {
    font-family: 'Bungee', cursive;
    font-size: clamp(1.5rem, 5.3vw - 1.3rem, 2rem);
    margin-left: 2rem;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: var(--black); 
    margin-left: 2rem;
}

h5 {
    font-family: 'Bungee', sans-serif;
    font-size: clamp(1rem, 2.7vw - 0.2rem, 1.5rem);
    margin-left: 2rem;
    color: var(--darkblue);
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(1rem, NaNvw - NaNrem, 1,5rem);
    font-weight: 300;
    color: var(--black);
    max-width: 60ch;
    font-size: clamp(1rem, 2vw + 0.3rem, 1.5rem);
    margin-left: 2rem;

}

p1 {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(1rem, NaNvw - NaNrem, 1,5rem);
    font-weight: 300;
    color: gray;
    max-width: 60ch;
    font-size: clamp(1rem, 2vw + 0.3rem, 1.5rem);
    /* margin-left: 2rem; */
}


.harjeglaert_section_wrapper p {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: var(--darkblue);
}

/* #header */
header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background: var(--white);
    left: 0;
    /* right: 0;
    Overvej om der skal skygge på menu for at hjælpe brugeren med at finde den box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.33); */

}

.wrapper {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}

#topnav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#topnav a:hover {
    text-decoration: underline var(--orangered);
    color: var(--orangered);
}

/*Logo*/
.logo img {
    display: inline-block;
    height: auto;
    object-fit: cover;
    position: relative;
    width: 70px;
}

/*Burgermenu*/

#menuknap {
    display: inline-block;
    font-size: 3rem;
}

#menu {
    list-style-type: none;
    transition: all .3s;
    transform-origin: top left;
    font-family: 'Bungee', cursive;
    font-size: 1em;
    justify-content: space-between;
    padding: 1em;
    list-style: none;
    overflow-x: auto;
    position: absolute;
    left: 0;
    background: white;
    width: 100vw;
}

#menu.hidden {
    opacity: 0;
    left: -100px;
}

/* Mediaquery for menu i mobilvisning  */
@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu {
        width: auto;
    }

    #menu.hidden {
        /*        transform: translateX(0);
        */
        left: 0;
        position: relative;
        opacity: 1;
    }

    #menu li {
        display: inline-block;
        font-family: 'Bungee', cursive;
        font-size: 1em;
        margin: 0 1em;
        list-style: none;
        overflow-x: auto;
    }

}

/* Links i både undermenu og dokumentliste */
main nav ul {
    font-family: 'Bungee', cursive;
    font-size: 1em;
    color: #2D2E78;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 1em;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 5em;
    list-style: none;
    overflow-x: auto;
}

@media (min-width: 1000px) {
    main nav ul {
        margin-left: 1em;
        margin-right: 1em;

    } 
}

    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
}


main nav ul a:hover {
    text-decoration: underline var(--orangered);
    color: var(--orangered);
}

.dokumentlinks {
    font-family: 'Bungee', cursive;
    font-size: 1em;
    color: #2D2E78;
    display: list-item;
    flex-flow: nowrap;
    justify-content: left;
    gap: 1em;
    list-style: none;
    overflow-x: auto;
}

.dokumentlinks a:hover {
    text-decoration: underline var(--orangered);
    color: var(--orangered);
}


/* Billeder */
.container_splash img {
    display: block;
    width: 60%;
    height: auto;
    object-fit: cover;
    margin: -2em auto 3em;
}

.col img {
    display: block;
    width: 60%;
    height: auto;
    object-fit: cover;
    margin: -2em auto 3em;

}

/*Øvelser section*/

@media (min-width: 1000px) {
    .oevelser_section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 1em;
        margin-right: 1em;

    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
}

@media (min-width: 1000px) {
    .harjeglaert_section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 1em;
        margin-right: 1em;

    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }
}

/* Tilpasning af design for 02WEB */

.splashbox h1 {
    color: var(--darkblue);
}

.splashbox h2 {
    color: var(--darkblue);
}

.splashbox h3 {
    color: var(--darkblue);
}

.splashbox {
    background-color: var(--lightpurple);
}

#02_splash_section {
    object-fit: cover;
}

/* knap */
.lerler_knap {
    font-family: "Bungee", sans-serif;
    font-size: clamp(1rem, 2vw + 0.3rem, 1.5rem);
    display: block;
    padding: 1em 1.5em 1em;
    text-decoration: none;
    color: var(--darkblue);
    background: var(--lightpurple);
    cursor: pointer;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    border: none;
}

.lerler_knap:hover {
    background-color: var(--darkblue);
    color: var(--lightpurple);
}

.lerler_knap:active {
background-color: var(--lightpurple);
}



/* Tilpasning af design for 03UX */

.splashbox_03 h1 {
    color: var(--lightblue);
}

.splashbox_03 h2 {
    color: var(--lightblue);
}

.splashbox_03 h3 {
    color: var(--lightblue);
}

.splashbox_03 {
    background-color: var(--lightgreen);
}

#splash_section_03 {
    object-fit: cover;
}

/* knap */
.kaktusch_knap {
    font-family: "Bungee", sans-serif;
    font-size: clamp(1rem, 2vw + 0.3rem, 1.5rem);
    display: block;
    padding: 1em 1.5em 1em;
    text-decoration: none;
    color: var(--lightblue);
    background: var(--lightgreen);
    cursor: pointer;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    border: none;
}

.kaktusch_knap:hover {
    background-color: var(--lightblue);
    color: var(--lightgreen);
}

.kaktusch_knap:active {
background-color: var(--lightgreen);
}


/* Tilpasning af design for 04animation */

.splashbox_04 h1 {
    color: var(--beige);
}

.splashbox_04 h2 {
    color: var(--beige);
}

.splashbox_04 h3 {
    color: var(--beige);
}

.splashbox_04 {
    background-color: var(--darkblue);
}

#splash_section_04 {
    object-fit: cover;
}

/* knap */
.knap_04 {
    font-family: "Bungee", sans-serif;
    font-size: clamp(1rem, 2vw + 0.3rem, 1.5rem);
    display: block;
    padding: 1em 1.5em 1em;
    text-decoration: none;
    color: var(--lightyellow);
    background: var(--darkblue);
    cursor: pointer;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    border: none;
}

.knap_04:hover {
    background-color: var(--lightyellow);
    color: var(--darkblue);
}

.knap_04:active {
background-color: var(--darkblue);
}

/* Tilpasning af design for 05indhold */

.splashbox_05 h1 {
    color: var(--orangered);
}

.splashbox_05 h2 {
    color: var(--orangered);
}

.splashbox_05 h3 {
    color: var(--orangered);
}

.splashbox_05 {
    background-color: var(--lightyellow);
}

#splash_section_05 {
    object-fit: cover;
}

/* knap */
.knap_05 {
    font-family: "Bungee", sans-serif;
    font-size: clamp(1rem, 2vw + 0.3rem, 1.5rem);
    display: block;
    padding: 1em 1.5em 1em;
    text-decoration: none;
    color: var(--orangered);
    background: var(--lightyellow);
    cursor: pointer;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    border: none;
}

.knap_05:hover {
    background-color: var(--orangered);
    color: var(--lightyellow);
}

.knap_05:active {
background-color: var(--lightyellow);
}

/* For at lave videoen responsiv, har jeg fulgt denne guide fra W3Schools: https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-bottom: -3em;
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 90%;
    margin-left: 2em;
    margin-bottom: -5em;
  }

  @media (min-width: 600px) {
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;}

        .container {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
            margin-bottom: -23em;
          }
    }

/* Tilpasning af design for ommig */

.splashbox_06 h1 {
    color: var(--beige);
}

.splashbox_06 h2 {
    color: var(--beige);
}

.splashbox_06 h3 {
    color: var(--beige);
}

.splashbox_06 {
    background-color: var(--rose);
}

#splash_section_05 {
    object-fit: cover;
}

.cv h2 {
    color: var(--rose);
    margin-left: 2rem;
}

.cv h3 {
    font-size: clamp(1rem, 2.7vw - 0.2rem, 1.5rem);
}

.cv h4 {
    font-size: clamp(1rem, 2.7vw - 0.2rem, 1.5rem);
}

.splash_wrapper img {
    max-width: 450px;
    box-shadow: 24px 24px 0px 0px var(--rose);
    /* border: 15px solid var(--rose); */
}
 
    @media (min-width: 1000px) {

        #splash_section_06 .splash_wrapper {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            gap: 20px;
        }
